@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: unset;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --swiper-pagination-bullet-horizontal-gap: 12px;
  --swiper-pagination-bullet-size: 40px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-theme-color: #000;
}

html {
  --titleWidth: 100%;
}

html,
body {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 130%;
  text-transform: lowercase;
  color: #000;
  font-weight: 400;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: 4px;
  scrollbar-color: #000 #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: 0 0;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 1px solid transparent;
}

body.is-lock {
  overflow: hidden;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

h1 {
  font-size: 100px;
  line-height: 100%;
}

h2 {
  margin-bottom: 48px;
  font-size: 100px;
  line-height: 100%;
}

section {
  margin: 132px 0;
}

section.is-black {
  padding: 90px 0;
  background: #000;
  color: #fff;
}

p + p {
  margin-top: 28px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  max-width: 100%;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:not([class]) {
  color: #000;
  border-bottom: 1px solid #000;
}

a:not([class]):hover {
  border-color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-pagination--is-white .swiper-pagination-bullet {
  border-color: #fff;
}

.swiper-pagination--is-white .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet {
  border: 1px solid #000;
  background: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

.site-header {
  padding-top: 16px;
  margin-top: 32px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #f2f2f2;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.site-header.is-scrolling {
  -webkit-box-shadow: 0 24px 48px rgba(25, 29, 50, 0.1019607843);
          box-shadow: 0 24px 48px rgba(25, 29, 50, 0.1019607843);
}

.site-header.is-scrolling-down {
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.site-header--is-black {
  background: #000;
}

.site-header--is-black.is-scrolling {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-header__body {
  padding-bottom: 18px;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}

.site-header__body--is-on-black {
  border-color: #fff;
}

.site-header__logo {
  margin-right: auto;
  width: 71px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.site-header__panel.is-open {
  opacity: 1;
  visibility: visible;
}

.site-header__panel-close {
  width: 24px;
  height: 24px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
  margin-left: auto;
}

.site-header__panel-logo {
  margin-bottom: 64px;
  width: 112px;
}

.site-header__panel-logo img {
  width: 100%;
}

.site-header__panel-overlay {
  position: fixed;
  z-index: -1;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.site-header__btn.btn {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.site-footer {
  padding-bottom: 102px;
}

.site-footer--is-on-black .site-footer__socials-link {
  color: #fff;
  border-color: #fff;
}

.site-footer__body {
  margin-top: 0;
  padding-bottom: 60px;
  margin-bottom: 48px;
  border-bottom: 1px solid #000;
}

.site-footer__body--is-on-black {
  border-color: #fff;
}

.site-footer__top {
  margin-bottom: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
}

.site-footer__title {
  margin: 0;
}

.site-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 24px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.site-footer__contact {
  color: #000;
  text-align: right;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  border-bottom: 1px solid transparent;
}

.site-footer__contact:hover {
  border-color: #000;
}

.site-footer__btn.btn {
  padding: 16px 40px 20px;
  margin-bottom: 149px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 111.111%;
}

.site-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
}

.site-footer__socials-caption {
  max-width: 436px;
  font-size: 32px;
  font-weight: 500;
  line-height: 125%;
}

.site-footer__socials-list {
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 74px;
     -moz-column-gap: 74px;
          column-gap: 74px;
}

.site-footer__socials-link {
  font-size: 32px;
  font-weight: 500;
  line-height: 125%;
  color: #000;
  border-bottom: 1px solid #000;
}

.site-footer__socials-link:hover {
  border-color: transparent;
}

.site-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
}

.site-footer__logo {
  width: 99px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.site-footer__logo img {
  width: 100%;
}

.site-footer__menu {
  max-width: 706px;
}

.site-footer__copyright {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}

.menu__item.is-active .menu__link {
  font-weight: 600;
}

.menu__link {
  display: block;
  color: #000;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.menu__link:hover::after {
  width: 100%;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-menu--is-on-black .footer-menu__link:hover {
  color: #fff;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 104px;
     -moz-column-gap: 104px;
          column-gap: 104px;
  row-gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu__link {
  color: #aaa;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-transform: none;
}

.footer-menu__link:hover {
  color: #000;
}

.burger {
  width: 24px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.burger--is-white .burger__line {
  background: #fff;
}

.burger__line {
  background: #000;
  width: 100%;
  height: 2px;
}

.burger__line:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.burger__line:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
}

.btn {
  padding: 8px 16px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  background: #000;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 116.6%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  white-space: nowrap;
  overflow: hidden;
}

.btn:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

.btn--white {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

.btn--white:hover {
  background: #000;
  border-color: #fff;
  color: #fff;
}

.btn--border {
  background: none;
}

.btn--border.btn--white {
  color: #fff;
}

.btn--border.btn--white:hover {
  background: #fff;
  color: #000;
}

.story {
  padding: 8px;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  position: relative;
  cursor: pointer;
}

.story.is-paused .story__pause {
  opacity: 0;
  visibility: hidden;
}

.story:not(.is-paused) .story__play {
  opacity: 0;
  visibility: hidden;
}

.story:hover .story__btn {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.story__video {
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
}

.story__video video {
  width: 100%;
  height: 100%;
}

.story__btn {
  padding: 7px;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 26px;
  height: 26px;
  background: rgba(226, 231, 234, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #d9d9d9;
}

.story__play svg {
  margin-right: -2px;
}

.overlay {
  padding: 96px 0 80px;
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 101;
  overflow: auto;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  scrollbar-width: 4px;
  scrollbar-color: #fff #000;
}

.overlay::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.overlay::-webkit-scrollbar-track {
  background: 0 0;
}

.overlay::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid transparent;
}

.overlay:not(.is-visible) {
  opacity: 0;
  visibility: hidden;
}

.popup {
  margin: auto;
  max-width: calc(100% - 32px);
}

.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  right: 60px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.popup__close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.input {
  padding-bottom: 16px;
  display: block;
  width: 100%;
  font-size: 28px;
  line-height: 114%;
  border-bottom: 1px solid #000;
  background: none;
}

.wrapper {
  min-height: 100vh;
  overflow: clip;
}

.wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.site-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.service-hero {
  margin-top: 68px;
}

.service-hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 132px;
}

.service-hero__title {
  margin-bottom: 47px;
}

.service-hero__content {
  padding-top: 113px;
  max-width: 469px;
}

.service-hero__subtitle {
  margin-bottom: 44px;
  font-size: 56px;
  line-height: 103.571%;
}

.service-hero__subtitle br {
  display: inline;
}

.service-hero__btn {
  margin-top: 40px;
}

.niches {
  padding: 55px 0 68px;
  background: #e2e7ea;
}

.niches__list {
  margin: 0 auto;
  max-width: 1087px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
  row-gap: 51px;
}

.niches__item {
  list-style: none;
  color: #9ea5a9;
  font-size: 36px;
  font-weight: 500;
  line-height: 111.111%;
}

.niches__item-link {
  padding-right: 80px;
  color: #9ea5a9;
  position: relative;
}

.niches__item-link:hover {
  color: #000;
}

.niches__item-link:hover .niches__item-link-caption {
  background: #000;
}

.niches__item-link-caption {
  padding: 6px 20px;
  position: absolute;
  top: -12px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 32px;
  background: #9ea5a9;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 117%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.forecast__body {
  max-width: 1000px;
  margin-left: auto;
}

.forecast__title {
  margin-bottom: 32px;
}

.forecast__text {
  margin-bottom: 66px;
  font-size: 32px;
  line-height: 118.75%;
}

.forecast__video {
  border-radius: 56px;
  aspect-ratio: 767/200;
  -o-object-position: 0 10%;
     object-position: 0 10%;
}

.steps__tabs {
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.steps__tab.is-active {
  pointer-events: none;
}

.steps__tab:not(.is-active) {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.steps__tab:hover {
  background: #000;
  color: #fff;
}

.steps__tabcontent {
  padding: 50px 102px 59px 68px;
  border-radius: 56px;
  background: #e2e7ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 114px;
}

.steps__tabcontent:not(.is-active) {
  display: none;
}

.steps__tabcontent-title {
  font-size: 40px;
  line-height: 118%;
}

.steps__tabcontent-text {
  padding-top: 4px;
  font-size: 20px;
  line-height: 140%;
}

.steps__tabcontent-text p + p {
  margin-top: 16px;
}

.why-we__text {
  margin-bottom: 76px;
  font-size: 32px;
  line-height: 118.75%;
}

.why-we__services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 101px;
     -moz-column-gap: 101px;
          column-gap: 101px;
  row-gap: 48px;
}

.why-we__service-title {
  margin-bottom: 12px;
  font-size: 56px;
  font-weight: 500;
  line-height: 103.571%;
}

.why-we__service-description {
  padding-bottom: 21px;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
  font-size: 32px;
  line-height: 118.75%;
}

.why-we__service-price {
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.already-use {
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.already-use.is-light {
  background: #e2e7ea;
  color: #000;
}

.already-use.is-light .already-use__tab.is-active {
  border-color: #9ea5a9;
  color: #000;
}

.already-use__tabs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.already-use__tab {
  margin: 0 auto;
}

.already-use__tab.is-active {
  background: transparent;
  border-color: #fff;
  color: #fff;
  pointer-events: none;
}

.already-use__text {
  margin-bottom: 74px;
  margin-left: auto;
  margin-right: auto;
  max-width: 782px;
  font-size: 32px;
  line-height: 118.75%;
}

.already-use__btn {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  will-change: width;
}

.process-of-work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 130px;
  position: relative;
}

.process-of-work__title {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.process-of-work__slider-pagination.swiper-pagination {
  bottom: 0;
  left: -12px;
  text-align: left;
}

.process-of-work__item:not(:last-child) {
  margin-bottom: 66px;
}

.process-of-work__item-title {
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.process-of-work__item-text {
  font-size: 32px;
  line-height: 118.75%;
  text-transform: none;
}

.interested-links__body {
  padding: 84px 114px;
  border-radius: 56px;
  background: #e2e7ea;
}

.interested-links__video {
  margin-top: -184px;
  margin-bottom: 53px;
  aspect-ratio: 967/197;
  border-radius: 56px;
}

.interested-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 64px;
}

.interested-links__link {
  color: #000;
  display: block;
  font-size: 32px;
  font-weight: 500;
  line-height: 118.75%;
  text-transform: none;
  border-bottom: 1px solid #000;
}

.interested-links__link:hover {
  border-color: transparent;
}

.faqs__title {
  margin-bottom: 100px;
}

.faqs__item:not(:last-child) {
  padding-bottom: 28px;
  margin-bottom: 36px;
  border-bottom: 1px solid #000;
}

.faqs__item-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}

.faqs__item-btn.is-active .faqs__item-btn-arrow svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.faqs__item-btn-text {
  max-width: 1001px;
  font-size: 32px;
  line-height: 118.75%;
  text-transform: none;
}

.faqs__item-btn-arrow {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.faqs__item-btn-arrow svg {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.faqs__item-body {
  height: 0;
  will-change: height;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.faqs__item-content {
  margin-top: 24px;
  max-width: 1000px;
  font-size: 20px;
  line-height: 130%;
  text-transform: none;
}

.popup-cta {
  width: 1166px;
}

.popup-cta__body {
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 84px;
}

.popup-cta__form {
  padding: 72px 71px 50px 55px;
  border-radius: 56px;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup-cta__form-inputs {
  margin-bottom: 88px;
}

.popup-cta__form-input:not(:last-child) {
  margin-bottom: 55px;
}

.popup-cta__form-btn {
  width: 100%;
}

.popup-cta__body-right {
  width: 336px;
}

.popup-cta__manager {
  margin-bottom: 64px;
}

.popup-cta__manager-image {
  margin-bottom: 40px;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  overflow: hidden;
}

.popup-cta__manager-name {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 118.75%;
  color: #fff;
  text-transform: none;
}

.popup-cta__manager-description {
  line-height: 140%;
  color: #fff;
}

.popup-cta__policy {
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-cta__policy:hover {
  border-color: transparent;
}

.popup-cta__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 71px;
}

.popup-cta__btn {
  width: 100%;
  max-width: 500px;
}

.popup-cta__email {
  color: #fff;
  line-height: 114%;
  border-bottom: 1px solid transparent;
}

.popup-cta__email:hover {
  border-color: #fff;
}

@media (min-width: 768px) {
  .popup-cta__manager {
    margin-top: 41px;
  }

  .popup-cta__policy:not(.popup-cta__policy--desktop) {
    display: none;
  }
}

@media (min-width: 992px) {
  .site-header__panel-close {
    display: none;
  }

  .site-header__panel-logo {
    display: none;
  }

  .site-header__panel-overlay {
    display: none;
  }

  .menu--is-on-black .menu__link {
    color: #fff;
  }

  .menu--is-on-black .menu__link::after {
    background: #fff;
  }

  .burger {
    display: none;
  }

  .service-hero__btn {
    padding: 16px 40px 20px;
    font-size: 24px;
  }

  .steps__tab {
    padding: 16px 40px 20px;
    font-size: 24px;
    line-height: 118.75%;
  }

  .already-use__tab {
    padding: 16px 40px 20px;
    font-size: 24px;
    line-height: 118.75%;
  }

  .already-use__btn {
    padding: 16px 40px 20px;
    font-size: 24px;
    line-height: 118.75%;
  }

  .popup-cta__form-btn {
    padding: 26px;
    font-size: 24px;
  }

  .popup-cta__manager-name {
    font-size: 24px;
  }

  .popup-cta__manager-description {
    font-size: 18px;
  }

  .popup-cta__btn {
    padding: 20px;
    font-size: 24px;
  }

  .popup-cta__email {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .site-footer__contacts {
    margin-top: 28px;
  }

  .service-hero {
    margin-bottom: 117px;
  }

  .service-hero__left {
    width: 640px;
  }

  .service-hero__content p {
    font-size: 32px;
    line-height: 118.75%;
  }

  .service-hero__btn {
    font-size: 36px;
    line-height: 111.111%;
  }

  .niches {
    margin-top: 117px;
    margin-bottom: 127px;
  }

  .forecast {
    margin-top: 127px;
    margin-bottom: 151px;
  }

  .forecast__video {
    max-width: 767px;
  }

  .steps {
    margin-bottom: 145px;
  }

  .steps__title {
    margin-bottom: 56px;
  }

  .steps__tab {
    font-size: 32px;
  }

  .steps__tabcontent-title {
    max-width: 443px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .why-we {
    margin-bottom: 163px;
  }

  .why-we__body {
    max-width: 938px;
    margin-left: auto;
  }

  .why-we__title {
    margin-bottom: 45px;
  }

  .why-we__text p + p {
    margin-top: 39px;
  }

  .already-use {
    margin-bottom: 217px;
  }

  .already-use__title {
    margin-bottom: 75px;
  }

  .already-use__tab {
    font-size: 32px;
  }

  .already-use__btn {
    font-size: 32px;
  }

  .process-of-work {
    margin-bottom: 328px;
  }

  .process-of-work__body {
    padding-bottom: 28px;
    padding-right: 4px;
  }

  .process-of-work__title {
    margin-bottom: 72px;
  }

  .process-of-work__title {
    width: 486px;
  }

  .process-of-work__slider {
    margin-top: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: static;
  }

  .interested-links {
    margin-bottom: 163px;
  }

  .interested-links__list {
    max-width: 928px;
    margin: 0 auto;
  }

  .faqs {
    margin-bottom: 156px;
  }

  .faqs__item-content {
    margin-bottom: 8px;
  }

  .popup-cta__form-btn {
    font-size: 32px;
    line-height: 118.75%;
  }

  .popup-cta__manager-name {
    font-size: 32px;
  }

  .popup-cta__manager-description {
    font-size: 20px;
  }

  .popup-cta__btn {
    font-size: 28px;
    line-height: 114%;
  }

  .popup-cta__email {
    font-size: 28px;
  }
}

@media (min-width: 1366px) {
  .forecast__body {
    margin-right: -25px;
  }
}

@media (max-width: 1200px) {
  :root {
    --swiper-pagination-bullet-size: 32px;
  }

  * br {
    display: none;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 64px;
  }

  section {
    margin: 104px 0;
  }

  .site-header__body {
    gap: 24px;
  }

  .site-footer {
    padding-bottom: 64px;
  }

  .site-footer__top {
    margin-bottom: 96px;
  }

  .site-footer__contacts {
    gap: 16px;
  }

  .site-footer__contact {
    font-size: 32px;
  }

  .site-footer__btn.btn {
    margin-bottom: 96px;
  }

  .footer-menu__list {
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .popup__close {
    top: 32px;
    right: 32px;
  }

  .input {
    font-size: 24px;
    line-height: 125%;
  }

  .container {
    max-width: 960px;
  }

  .service-hero {
    margin-top: 64px;
  }

  .service-hero__body {
    gap: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .service-hero__subtitle {
    margin-bottom: 32px;
    font-size: 48px;
  }

  .niches__item {
    font-size: 32px;
  }

  .niches__item-link {
    padding-right: 64px;
  }

  .niches__item-link-caption {
    padding: 8px 12px;
    font-size: 16px;
  }

  .steps__tabs {
    gap: 16px;
  }

  .steps__tabcontent {
    padding: 48px 32px;
    gap: 64px;
  }

  .steps__tabcontent-title {
    width: 70%;
    font-size: 32px;
    line-height: 125%;
  }

  .why-we__text {
    margin-bottom: 64px;
    font-size: 24px;
  }

  .why-we__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 48px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why-we__service-title {
    font-size: 40px;
  }

  .why-we__service-description {
    font-size: 24px;
  }

  .why-we__service-price {
    font-size: 32px;
  }

  .already-use__text {
    margin-bottom: 64px;
  }

  .process-of-work__body {
    display: block;
  }

  .process-of-work__slider-pagination.swiper-pagination {
    margin-top: 40px;
    position: static;
    text-align: center;
  }

  .process-of-work__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .process-of-work__item-title {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .process-of-work__item-text {
    font-size: 24px;
  }

  .interested-links {
    padding-top: 82px;
  }

  .interested-links__body {
    padding: 32px 64px 48px;
  }

  .interested-links__video {
    margin-top: -114px;
    margin-bottom: 48px;
  }

  .interested-links__list {
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    row-gap: 24px;
  }

  .faqs__title {
    margin-bottom: 64px;
  }

  .faqs__item:not(:last-child) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .faqs__item-btn-text {
    margin-top: 6px;
    font-size: 24px;
  }

  .faqs__item-content {
    font-size: 16px;
  }

  .popup-cta__body {
    margin-bottom: 48px;
    gap: 48px;
  }

  .popup-cta__form {
    padding: 48px 32px;
  }

  .popup-cta__form-inputs {
    margin-bottom: 64px;
  }

  .popup-cta__manager {
    margin-bottom: 48px;
  }

  .popup-cta__manager-image {
    margin-bottom: 32px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 992px) {
  :root {
    --swiper-pagination-bullet-size: 24px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  section {
    margin: 80px 0;
  }

  section.is-black {
    padding: 64px 0;
  }

  .site-header {
    padding-top: 16px;
    margin-top: 0;
  }

  .site-header__panel {
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .site-header__menu {
    padding: 48px 32px;
    background: #fff;
    height: 100%;
  }

  .site-footer__top {
    margin-bottom: 64px;
  }

  .site-footer__contact {
    font-size: 24px;
  }

  .site-footer__btn.btn {
    margin-bottom: 64px;
    font-size: 24px;
  }

  .site-footer__socials-caption {
    font-size: 24px;
  }

  .site-footer__socials-list {
    max-width: 254px;
  }

  .site-footer__socials-link {
    font-size: 24px;
  }

  .site-footer__bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    gap: 48px;
  }

  .site-footer__logo {
    width: 71px;
  }

  .site-footer__menu {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 32px;
  }

  .menu__link {
    font-size: 24px;
  }

  .footer-menu__list {
    gap: 24px;
  }

  .story {
    width: 212px;
    height: 212px;
  }

  .popup__close {
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
  }

  .input {
    font-size: 20px;
  }

  .container {
    max-width: 720px;
  }

  .service-hero__content {
    padding-top: 80px;
  }

  .service-hero__subtitle {
    font-size: 32px;
  }

  .niches {
    padding: 64px 0;
  }

  .niches__list {
    gap: 32px;
  }

  .niches__item {
    font-size: 24px;
  }

  .forecast__text {
    margin-bottom: 48px;
    font-size: 24px;
  }

  .forecast__video {
    border-radius: 32px;
  }

  .steps__tabs {
    margin-bottom: 32px;
  }

  .steps__tabcontent {
    padding: 32px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 32px;
    border-radius: 32px;
  }

  .steps__tabcontent-title {
    width: 100%;
  }

  .why-we__text {
    margin-bottom: 48px;
  }

  .why-we__service-title {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .why-we__service-description {
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 20px;
  }

  .why-we__service-price {
    font-size: 24px;
  }

  .already-use__tabs {
    margin-bottom: 32px;
    gap: 16px;
  }

  .already-use__text {
    margin-bottom: 48px;
    font-size: 24px;
  }

  .process-of-work__item-title {
    font-size: 24px;
  }

  .process-of-work__item-text {
    font-size: 20px;
  }

  .interested-links {
    padding-top: 66px;
  }

  .interested-links__body {
    padding: 32px 24px;
    border-radius: 32px;
  }

  .interested-links__video {
    margin-top: -97px;
    margin-bottom: 32px;
    border-radius: 32px;
  }

  .interested-links__list {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .interested-links__link {
    font-size: 24px;
  }

  .faqs__title {
    margin-bottom: 48px;
  }

  .faqs__item-btn {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
  }

  .faqs__item-btn-arrow {
    width: 32px;
  }

  .popup-cta__body {
    gap: 32px;
  }

  .popup-cta__form {
    padding: 32px 24px;
    border-radius: 32px;
  }

  .popup-cta__form-input:not(:last-child) {
    margin-bottom: 40px;
  }

  .popup-cta__body-right {
    width: 256px;
  }

  .popup-cta__manager {
    margin-bottom: 32px;
  }

  .popup-cta__btn {
    max-width: 328px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  .site-header__panel {
    width: 50%;
  }

  .site-header__menu {
    padding: 32px 24px;
  }

  .site-footer {
    padding-bottom: 32px;
  }

  .site-footer__body {
    padding-bottom: 48px;
    margin-bottom: 48px;
  }

  .site-footer__top {
    margin-bottom: 48px;
  }

  .site-footer__contacts {
    gap: 8px;
  }

  .site-footer__contact {
    font-size: 20px;
  }

  .site-footer__btn.btn {
    margin-bottom: 48px;
    font-size: 16px;
  }

  .site-footer__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }

  .site-footer__socials-caption {
    font-size: 16px;
  }

  .site-footer__socials-list {
    max-width: unset;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 12px;
  }

  .site-footer__socials-link {
    font-size: 16px;
  }

  .site-footer__copyright {
    font-size: 16px;
  }

  .footer-menu__link {
    font-size: 16px;
  }

  .btn {
    padding: 12px 20px;
    font-size: 16px;
  }

  .popup {
    max-width: calc(100% - 16px);
  }

  .popup__close {
    top: 16px;
    right: 16px;
  }

  .input {
    font-size: 16px;
  }

  .container {
    max-width: 540px;
  }

  .service-hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }

  .service-hero__title {
    margin-bottom: 32px;
  }

  .service-hero__video {
    margin: 0 auto;
  }

  .service-hero__content {
    padding: 0;
  }

  .service-hero__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .service-hero__subtitle br {
    display: none;
  }

  .niches__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 24px;
  }

  .niches__item {
    padding-bottom: 24px;
    border-bottom: 1px solid #9ea5a9;
  }

  .niches__item-link {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .niches__item-link-caption {
    position: static;
  }

  .forecast__text {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .steps__tabcontent-text {
    font-size: 16px;
  }

  .why-we__title {
    margin-bottom: 32px;
  }

  .why-we__text {
    font-size: 16px;
  }

  .why-we__text p + p {
    margin-top: 16px;
  }

  .why-we__service-title {
    font-size: 24px;
  }

  .why-we__service-description {
    font-size: 16px;
  }

  .why-we__service-price {
    font-size: 18px;
  }

  .already-use__text {
    font-size: 16px;
  }

  .process-of-work__item-text {
    font-size: 16px;
  }

  .interested-links {
    padding-top: 46px;
  }

  .interested-links__video {
    margin-top: -78px;
  }

  .interested-links__link {
    font-size: 16px;
  }

  .faqs__item-btn-text {
    font-size: 20px;
  }

  .popup-cta__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .popup-cta__form-inputs {
    margin-bottom: 40px;
  }

  .popup-cta__form-input:not(:last-child) {
    margin-bottom: 24px;
  }

  .popup-cta__body-right {
    width: 100%;
  }

  .popup-cta__manager {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 80px 1fr;
    grid-template-columns: 80px 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }

  .popup-cta__manager-image {
    margin-bottom: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    width: 80px;
    height: 80px;
  }

  .popup-cta__manager-name {
    margin-bottom: 8px;
  }

  .popup-cta__policy {
    font-size: 16px;
  }

  .popup-cta__policy--desktop {
    display: none;
  }

  .popup-cta__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 576px) {
  .site-header__panel-close {
    margin-bottom: 0;
  }

  .site-header__panel-logo {
    margin-bottom: 40px;
    width: 72px;
  }

  .site-footer__top {
    margin-bottom: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }

  .site-footer__btn.btn {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  .site-footer__bottom {
    gap: 32px;
  }

  .menu__list {
    gap: 24px;
  }

  .menu__link {
    font-size: 16px;
  }

  .container {
    max-width: none;
  }

  .service-hero__btn {
    width: 100%;
  }

  .forecast__video {
    border-radius: 16px;
  }

  .steps__tabcontent {
    border-radius: 16px;
  }

  .why-we__services {
    gap: 24px;
  }

  .already-use__btn {
    width: 100%;
  }

  .interested-links {
    padding-top: 37px;
  }

  .interested-links__body {
    padding: 32px 8px;
    border-radius: 16px;
  }

  .interested-links__video {
    margin-top: -69px;
    border-radius: 16px;
  }

  .interested-links__list {
    padding-left: 16px;
    padding-right: 16px;
  }

  .popup-cta__form {
    border-radius: 16px;
  }

  .popup-cta__btn {
    max-width: unset;
  }
}

@media (max-width: 410px) {
  .site-footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .site-footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .site-footer__contact {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .site-header__logo {
    width: 60px;
  }

  .steps__tabcontent-title {
    font-size: 24px;
  }

  .why-we__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .popup-cta__form {
    padding: 24px 16px;
  }

  .popup-cta__form-inputs {
    margin-bottom: 32px;
  }

  .popup-cta__form-input:not(:last-child) {
    margin-bottom: 16px;
  }

  .popup-cta__manager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popup-cta__manager-image {
    margin-bottom: 16px;
  }

  .popup-cta__policy {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .site-header__panel {
    width: 100%;
  }
}