.how-we-works {
    @media (min-width: 1200px) {
        margin-bottom: 160px;
    }

    &__body {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 56px;

        @media (max-width: 992px) {
            border-radius: 32px;
        }

        @media (max-width: 576px) {
            border-radius: 16px;
        }

        @media (max-width: 400px) {
            display: block;
            border-radius: 0;
        }

        @media (min-width: 400px) {
            aspect-ratio: 1200/600;
            padding: 32px;
            color: #fff;
        }
    }

    &__content {
        margin: 0 auto;
        max-width: 667px;

        @media (max-width: 992px) {
            max-width: 347px;
        }

        @media (max-width: 768px) {
            max-width: 287px;
        }

        @media (max-width: 400px) {
            max-width: unset;
        }
    }

    &__title {
        margin-bottom: 33px;

        @media (min-width: 1200px) {
            margin-left: 12px;
        }

        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
    }

    &__description {
        max-width: 522px;
        font-size: 36px;
        font-weight: 500;
        line-height: 111.111%;

        @media (min-width: 1200px) {
            margin-left: 12px;
        }

        @media (max-width: 1200px) {
            font-size: 32px;
        }

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }

        @media (max-width: 400px) {
            margin-bottom: 32px;
        }
    }

    &__video {
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 56px;
        object-position: 0 22%;

        @media (max-width: 992px) {
            border-radius: 32px;
        }

        @media (max-width: 576px) {
            border-radius: 16px;
        }

        @media (max-width: 400px) {
            position: static;
        }
        
        & video{
        }
    }
}
