.btn {
    padding: 8px 16px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: $colorMain;
    border-radius: 100px;
    width: fit-content;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 116.6%;
    transition: all 0.3s ease-in-out 0s;

    @media (max-width: 768px) {
        padding: 12px 20px;
        font-size: 16px;
    }

    &:hover {
        background: #fff;
        color: $colorMain;
        border-color: $colorMain;
    }

    &--white {
        background: #fff;
        border: 1px solid #fff;
        color: $colorMain;

        &:hover {
            background: $colorMain;
            border-color: #fff;
            color: #fff;
        }
    }
}
