.btn {
    padding: 8px 16px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: $colorMain;
    border-radius: 100px;
    width: fit-content;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    transition: all 0.3s ease-in-out 0s;
    white-space: nowrap;
    overflow: hidden;
    text-transform: lowercase;

    @media (max-width: 768px) {
        padding: 12px 20px;
        font-size: 16px;
    }

    &:hover {
        background: transparent;
        color: $colorMain;
        border-color: $colorMain;
    }

    &--white {
        background: #fff;
        border: 1px solid #fff;
        color: $colorMain;

        &:hover {
            background: transparent;
            border-color: #fff;
            color: #fff;
        }
    }

    &--border {
        background: none;

        &.btn--white {
            color: #fff;

            &:hover {
                color: $colorMain;
            }
        }
    }

    &--in-section {
        padding: 16px 40px 20px;
        font-size: 36px;
        line-height: 111.111%;

        @media (max-width: 1200px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            padding-right: 24px;
            padding-left: 24px;
            font-size: 16px;
        }
    }
}
