.burger {
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (min-width: 992px) {
        display: none;
    }

    &--is-white {
        & .burger__line {
            background: #fff;
        }
    }

    &__line {
        background: $colorMain;
        width: 100%;
        height: 2px;

        &:first-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 75%;
        }
    }
}
