.case {
    &__link {
        display: grid;
        border-radius: 56px;
        position: relative;
        overflow: hidden;
        min-height: 601px;
        color: #fff;

        &:hover{
            & .case__image{
                transform: scale(1.15);
            }
        }

        &.is-reverse{
            & .case__body{
                margin-left: auto;
            }
        }
    }

    &__body {
        padding: 48px 64px 64px;
        display: flex;
        flex-direction: column;
        width: 71.5%;
        border-radius: 56px;
        background: linear-gradient(105deg, rgba(0, 0, 0, 0.4) 0.48%, rgba(0, 0, 0, 0) 100%);
        backdrop-filter: blur(10px);
    }

    &__type {
        margin-bottom: auto;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
    }

    &__title {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 103.5%;
    }

    &__description {
        opacity: 0.7;
        font-size: 36px;
        line-height: 111.111%;
    }

    &__image {
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: all 0.5s ease-in-out 0s;

        & img{
            width: 100%;
            height: 100%;
            border-radius: 56px;
        }
    }
}
