.footer-menu {
    &--is-on-black {
        & .footer-menu__item {
            &.is-active {
                & .footer-menu__link {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }

        & .footer-menu__link {
            &:hover {
                color: #fff;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 104px;
        row-gap: 21px;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
            column-gap: 48px;
            justify-content: space-between;
        }

        @media (max-width: 992px) {
            gap: 24px;
        }
    }

    &__item {
        &.is-active {
            pointer-events: none;

            & .footer-menu__link {
                color: $colorMain;
                border-bottom: 1px solid $colorMain;
            }
        }
    }

    &__link {
        color: #aaa;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        text-transform: none;

        @media (max-width: 768px) {
            font-size: 16px;
        }

        &:hover {
            color: $colorMain;
        }
    }
}
