.footer-menu {
    &__list {
        display: flex;
        align-items: center;
        column-gap: 104px;
        row-gap: 21px;
        flex-wrap: wrap;
    }

    &__item {
    }

    &__link {
        color: #aaa;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        text-transform: none;

        &:hover {
            color: $colorMain;
        }
    }
}
