.menu {
    &--is-on-black {
        & .menu__link {
            @media (min-width: 992px) {
                color: #fff;

                &::after {
                    background: #fff;
                }
            }
        }

        & .menu__dropdown {
            box-shadow: 0 0 32px -2px rgba(255, 255, 255, 0.2);
        }

        & .menu__sublink {
            background: #fff;
            color: $colorFont;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 56px;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: start;
            gap: 32px;
        }

        @media (max-width: 576px) {
            gap: 24px;
        }
    }

    &__item {
        position: relative;

        &.is-active {
            & .menu__link {
                font-weight: 600;
            }
        }

        &--is-dropdown {
            & .menu__link {
                &::after {
                    display: none;
                }
            }

            &:hover {
                & .menu__dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }

                & .menu__link-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $colorMain;
        position: relative;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &-text {
        }

        &-arrow {
            display: flex;
            align-items: center;
            pointer-events: none;
            transition: all 0.3s ease-in-out 0s;

            @media (max-width: 992px) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: $colorMain;
            transition: all 0.3s ease-in-out 0s;
        }
    }

    &__dropdown {
        @media (min-width: 992px) {
            position: absolute;
            width: 270px;
            top: calc(100% + 16px);
            left: 0;
            box-shadow: 0 24px 48px #191d321a;
            border-radius: 16px;
            transition: all 0.3s ease-in-out 0s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-25%);
        }

        @media (max-width: 992px) {
            padding-top: 24px;
            padding-left: 4px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, -100%);
            height: 16px;
            width: 100%;

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__subitem {
        &:not(:last-child) {
            @media (max-width: 992px) {
                margin-bottom: 16px;
            }
        }

        @media (min-width: 992px) {
            &:first-child {
                & .menu__sublink {
                    padding-top: 8px;
                    border-radius: 16px 16px 0 0;
                }
            }

            &:last-child {
                & .menu__sublink {
                    padding-bottom: 8px;
                    border-radius: 0px 0px 16px 16px;
                }
            }
        }
    }

    &__sublink {
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
        color: #fff;
        display: block;
        transition: all 0.3s ease-in-out 0s;

        @media (min-width: 992px) {
            padding: 4px 16px;
            background: #000;

            &:hover {
                background: #fff;
                color: $colorFont;
            }
        }

        @media (max-width: 992px) {
            position: relative;
            color: $colorFont;
            font-size: 20px;
        }

        @media (max-width: 576px) {
            font-size: 14px;
        }

        &:hover {
            &::after {
                @media (max-width: 992px) {
                    width: 100%;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: $colorMain;
            transition: all 0.3s ease-in-out 0s;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}
