.overlay {
    padding: 96px 0 80px;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
    z-index: 101;
    overflow: auto;
    transition: all 0.3s ease-in-out 0s;
    scrollbar-width: 4px;
    scrollbar-color: #fff $colorMain;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    &:not(.is-visible) {
        opacity: 0;
        visibility: hidden;
    }
}

.popup {
    margin: auto;
    max-width: calc(100% - 32px);

    @media (max-width: 768px) {
        max-width: calc(100% - 16px);
    }

    &:not(.is-visible) {
        display: none;
    }

    &__inscription {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -74%);
        width: fit-content;
        z-index: -1;
        font-size: 100px;
        font-family: $fontFamily;
        color: $colorMain;

        @media (max-width: 1200px) {
            transform: translate(-40%, -74%);
        }

        @media (max-width: 992px) {
            transform: translate(-32%, -74%);
            font-size: 64px;
        }

        @media (max-width: 768px) {
            display: none;
        }

        & span {
            display: block;
            white-space: nowrap;
        }
    }

    &__close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 60px;
        right: 60px;
        color: #fff;
        transition: all 0.3s ease-in-out 0s;

        @media (max-width: 1200px) {
            top: 32px;
            right: 32px;
        }

        @media (max-width: 992px) {
            width: 32px;
            height: 32px;
            top: 24px;
            right: 24px;
        }

        @media (max-width: 768px) {
            top: 16px;
            right: 16px;
        }

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__title {
        margin-bottom: 33px;
        font-size: 56px;
        font-weight: 500;
        line-height: 103.5%;
        text-transform: none;

        @media (max-width: 992px) {
            font-size: 48px;
        }

        @media (max-width: 768px) {
            font-size: 40px;
        }
    }
}
