.site-header {
    padding-top: 16px;
    margin-top: 32px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f2f2f2;
    transition: all 0.3s ease-in-out 0s;

    @media (max-width: 992px) {
        padding-top: 16px;
        margin-top: 0;
    }

    &.is-scrolling {
        box-shadow: 0 24px 48px #191d321a;
    }

    &.is-scrolling-down {
        transform: translate(0, -100%);
    }

    &--is-black{
        background: $colorMain;
        
        &.is-scrolling{
            box-shadow: none;
        }
    }

    &__body {
        padding-bottom: 18px;
        border-bottom: 1px solid $colorMain;
        display: flex;
        align-items: center;
        gap: 56px;

        @media (max-width: 1200px) {
            gap: 24px;
        }

        &--is-on-black{
            border-color: #fff;
        }
    }

    &__logo {
        margin-right: auto;
        width: 71px;
        flex: none;

        @media(max-width: 400px){
            width: 60px;
        }
    }

    &__panel {
        @media (max-width: 992px) {
            position: fixed;
            z-index: 102;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out 0s;
        }

        @media (max-width: 768px) {
            width: 50%;
        }

        @media(max-width: 370px){
            width: 100%;
        }

        &.is-open {
            opacity: 1;
            visibility: visible;
        }

        &-close {
            width: 24px;
            height: 24px;
            color: $colorMain;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
            margin-left: auto;

            @media(max-width: 576px){
                margin-bottom: 0;
            }

            @media (min-width: 992px) {
                display: none;
            }
        }

        &-logo {
            margin-bottom: 64px;
            width: 112px;

            @media (max-width: 576px) {
                margin-bottom: 40px;
                width: 72px;
            }

            @media (min-width: 992px) {
                display: none;
            }

            & img {
                width: 100%;
            }
        }

        &-overlay {
            position: fixed;
            z-index: -1;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease-in-out 0s;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    &__menu {
        @media (max-width: 992px) {
            padding: 48px 32px;
            background: #fff;
            height: 100%;
        }

        @media (max-width: 768px) {
            padding: 32px 24px;
        }
    }

    &__btn.btn {
        padding-top: 8px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
