.blog {
    @media (min-width: 1200px) {
        margin-bottom: 145px;
    }

    &__filters {
        margin-bottom: 56px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 11px;
        row-gap: 16px;

        @media (min-width: 1200px) {
            max-width: 1050px;
        }

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            padding-left: calc((100vw - 508px) / 2);
            padding-right: 16px;
            margin-left: calc((-100vw + 508px) / 2);
            margin-right: calc((-100vw + 508px) / 2);
            flex-wrap: nowrap;
            justify-content: start;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media (max-width: 576px) {
            padding-left: 16px;
            margin-left: -16px;
            margin-right: -16px;
        }

        &-item {
        }
    }

    &__filter {
        padding: 8px 20px 12px;
        color: #fff;
        font-weight: 500;
        line-height: 102%;
        border: 1px solid #fff;
        border-radius: 100px;
        flex-wrap: nowrap;
        transition: all 0.3s ease-in-out 0s;
        text-transform: lowercase;

        @media (min-width: 1200px) {
            font-size: 18px;
        }

        @media (max-width: 992px) {
            padding: 8px 16px 12px;
        }

        @media (max-width: 768px) {
            white-space: nowrap;
        }

        &.is-active {
            background: #fff;
            color: $colorMain;
            pointer-events: none;
        }

        &:hover {
            background: #fff;
            color: $colorMain;
        }
    }

    &__list {
        margin-bottom: 76px;

        @media (max-width: 1200px) {
            margin-bottom: 64px;
        }

        @media (max-width: 992px) {
            margin-bottom: 48px;
        }

        @media(max-width: 768px){
            margin-bottom: 32px;
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 51px;

                @media (max-width: 1200px) {
                    margin-bottom: 48px;
                }

                @media (max-width: 992px) {
                    margin-bottom: 32px;
                }

                @media (max-width: 768px) {
                    margin-bottom: 24px;
                }
            }
        }
    }

    &__pagination {
        justify-content: end;
    }
}
