:root {
    --swiper-pagination-bullet-horizontal-gap: 12px;
    --swiper-pagination-bullet-size: 40px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-theme-color: #000;

    @media (max-width: 1200px) {
        --swiper-pagination-bullet-size: 32px;
    }

    @media (max-width: 992px) {
        --swiper-pagination-bullet-size: 24px;
        --swiper-pagination-bullet-horizontal-gap: 8px;
    }
}

html {
    --titleWidth: 100%;
}

html,
body {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 130%;
    text-transform: lowercase;
    color: $colorFont;
    font-weight: 400;
    background: #f2f2f2;
    -webkit-font-smoothing: antialiased;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorMain;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    scrollbar-width: 4px;
    scrollbar-color: $colorMain #fff;
}

body {
    &.is-lock {
        overflow: hidden;
    }
}

::selection {
    background: $colorMain;
    color: #fff;
}

* {
    & br {
        @media (max-width: 1200px) {
            display: none;
        }
    }
}

// Titles

h1,
h2,
h3,
h4 {
}

h1 {
    font-size: 100px;
    line-height: 100%;
}

h2 {
    margin-bottom: 48px;
    font-size: 100px;
    line-height: 100%;

    @media (max-width: 1200px) {
        font-size: 64px;
    }

    @media (max-width: 992px) {
        font-size: 48px;
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

h3 {
}

// Section

section {
    margin: 132px 0;

    @media (max-width: 1200px) {
        margin: 104px 0;
    }

    @media (max-width: 992px) {
        margin: 80px 0;
    }

    &.is-black{
        padding: 90px 0;
        background: $colorMain;
        color: #fff;
    }
}

// P

p {
    & + p {
        margin-top: 28px;
    }
}

// Ul, Ol

ol,
ul {
}

// Img

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

// Svg

svg {
    max-width: 100%;
}

// Video

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// a

a {
    transition: all 0.3s ease-in-out 0s;

    &:not([class]) {
        color: #000;
        border-bottom: 1px solid $colorMain;

        &:hover {
            border-color: $colorMain;
        }
    }
}

// Visually hidden

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Swiper

.swiper-pagination-bullet {
    border: 1px solid $colorMain;
    background: none;
    transition: all 0.3s ease-in-out 0s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $colorMain;
}
