$fontFamily: "Raleway";
$textFontTochpribor: "SFProDisplay";
$accentFontTochpribor: "Montserrat";

$maxWidthContainer: 1232px;

$colorFont: #000;
$colorMain: #000;
$tochpriborBgColor: #1F2226;
