.why-we {
    @media (min-width: 1200px) {
        margin-bottom: 163px;
    }

    &__body {
        @media (min-width: 1200px) {
            max-width: 938px;
            margin-left: auto;
        }
    }

    &__title {
        @media (min-width: 1200px) {
            margin-bottom: 45px;
        }

        @media (max-width: 768px) {
            margin-bottom: 32px;
        }
    }

    &__text {
        margin-bottom: 76px;
        font-size: 32px;
        line-height: 118.75%;

        @media (max-width: 1200px) {
            margin-bottom: 64px;
            font-size: 24px;
        }

        @media (max-width: 992px) {
            margin-bottom: 48px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }

        & p {
            & + p {
                @media (min-width: 1200px) {
                    margin-top: 39px;
                }

                @media (max-width: 768px) {
                    margin-top: 16px;
                }
            }
        }
    }

    &__services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 101px;
        row-gap: 48px;

        @media (max-width: 1200px) {
            display: flex;
            align-items: start;
            gap: 48px;
            flex-wrap: wrap;
        }

        @media (max-width: 576px) {
            gap: 24px;
        }

        @media(max-width: 400px){
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__service {
        &-title {
            margin-bottom: 12px;
            font-size: 56px;
            font-weight: 500;
            line-height: 103.571%;

            @media (max-width: 1200px) {
                font-size: 40px;
            }

            @media (max-width: 992px) {
                margin-bottom: 16px;
                font-size: 32px;
            }

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        &-description {
            padding-bottom: 21px;
            margin-bottom: 12px;
            border-bottom: 1px solid $colorMain;
            font-size: 32px;
            line-height: 118.75%;

            @media (max-width: 1200px) {
                font-size: 24px;
            }

            @media (max-width: 992px) {
                padding-bottom: 8px;
                margin-bottom: 8px;
                font-size: 20px;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        &-price {
            font-size: 40px;
            font-weight: 500;
            line-height: 120%;

            @media (max-width: 1200px) {
                font-size: 32px;
            }

            @media (max-width: 992px) {
                font-size: 24px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
}
