.already-use {
    text-align: center;
    transition: all 0.3s ease-in-out 0s;

    @media (min-width: 1200px) {
        margin-bottom: 217px;
    }

    &.is-light {
        background: #e2e7ea;
        color: $colorMain;

        & .already-use__tab {
            &.is-active {
                border-color: #9ea5a9;
                color: $colorMain;
            }
        }
    }

    &__title {
        @media (min-width: 1200px) {
            margin-bottom: 75px;
        }
    }

    &__tabs {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 56px;
        display: flex;
        align-items: center;
        gap: 26px;
        width: fit-content;

        @media (max-width: 992px) {
            margin-bottom: 32px;
            gap: 16px;
        }
    }

    &__tab {
        margin: 0 auto;

        @media (min-width: 992px) {
            padding: 16px 40px 20px;
            font-size: 24px;
            line-height: 118.75%;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
        }

        &.is-active {
            background: transparent;
            border-color: #fff;
            color: #fff;
            pointer-events: none;
        }
    }

    &__text {
        margin-bottom: 74px;
        margin-left: auto;
        margin-right: auto;
        max-width: 782px;
        font-size: 32px;
        line-height: 118.75%;

        @media (max-width: 1200px) {
            margin-bottom: 64px;
        }

        @media (max-width: 992px) {
            margin-bottom: 48px;
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__btn {
        margin: 0 auto;
        width: fit-content;
        will-change: width;

        @media (min-width: 992px) {
            padding: 16px 40px 20px;
            font-size: 24px;
            line-height: 118.75%;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }
}
