.digital-strategy-price {
    @media (min-width: 1200px) {
        margin-bottom: 180px;
    }

    &__body {
        padding: 53px 60px 53px 56px;
        border-radius: 56px;
        background: #fff;
        display: flex;
        align-items: start;
        gap: 69px;

        @media (max-width: 1200px) {
            padding: 32px 24px;
            gap: 48px;
        }

        @media (max-width: 992px) {
            padding: 24px 16px;
            border-radius: 32px;
            gap: 32px;
        }

        @media (max-width: 767px) {
            flex-direction: column-reverse;
            gap: 40px;
        }

        @media (max-width: 576px) {
            border-radius: 16px;
        }
    }

    &__image {
        width: 312px;
        aspect-ratio: 312/459;
        flex: none;
        border-radius: 40px;
        overflow: hidden;

        @media (max-width: 1200px) {
            width: 240px;
        }

        @media (max-width: 992px) {
            border-radius: 32px;
        }

        @media (max-width: 767px) {
            width: 70%;
            align-self: center;
        }

        @media (max-width: 576px) {
            width: 100%;
            border-radius: 16px;
        }

        & img {
            width: 100%;
        }
    }

    &__content {
        @media (min-width: 1200px) {
            margin-top: 45px;
        }
    }

    &__title {
        @media (min-width: 1200px) {
            margin-bottom: 44px;
        }

        @media (max-width: 1200px) {
            margin-bottom: 32px;
        }
    }

    &__text {
        margin-bottom: 32px;
        max-width: 603px;
        font-size: 40px;
        line-height: toProcent(40, 44);
        font-weight: 500;

        @media (max-width: 1200px) {
            margin-bottom: 24px;
            font-size: 32px;
            line-height: 130%;
        }

        @media (max-width: 992px) {
            margin-bottom: 16px;
            font-size: 24px;
        }

        @media(max-width: 767px){
            font-size: 20px;
        }
    }

    &__disclaimer {
        max-width: 492px;
        font-size: 20px;
        line-height: toProcent(20, 28);
        color: #9ea5a9;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 150%;
        }
    }
}
